<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  Careers,
  EventsSchedule,
  LightningHero,
  Section,
  Intro,
} from '../../components/events/index.vue';
import {
  KubeconLightingTalk,
  KubeconSpeakers,
} from '../../components/events/kubecon/index.vue';

export default Vue.extend({
  components: {
    LightningHero,
    Intro,
    Section,
    KubeconLightingTalk,
    KubeconSpeakers,
    EventsSchedule,
    Careers,
    Conduct,
    NextStep,
  },
  async asyncData({ $content, params }: any) {
    const content = await $content('events/kubecon', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero :data="content.hero" />
    <Intro :data="content.intro" />
    <Section class="slp-pb-32" :data="content.gitlab_booth" />
    <KubeconLightingTalk :data="content.featured_lighting_talks" />
    <Section
      v-if="content.gitlab_activation_zone"
      class="slp-my-96"
      :data="content.gitlab_activation_zone"
    />
    <KubeconSpeakers
      v-if="content.speakers_block"
      :data="content.speakers_block"
    />
    <Section :data="content.party" :has-gradient="true" class="slp-py-160" />
    <EventsSchedule :data="content.schedule" />
    <Careers :data="content.careers" />
    <Conduct event-name="KubeCon" />
    <NextStep />
  </div>
</template>
