<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <div class="customers-gradient">
    <SlpContainer>
      <div class="customers-hero">
        <div class="header">
          <SlpTypography variant="heading5-bold" tag="h2" class="slp-mb-24">
            {{ data.note }}
          </SlpTypography>
          <SlpTypography variant="display1" tag="h1">
            {{ data.header }}
          </SlpTypography>
        </div>
        <div class="metrics">
          <div v-for="metric in data.metrics" :key="metric.text" class="metric">
            <SlpTypography variant="display1" tag="h2">{{
              metric.value
            }}</SlpTypography>
            <SlpTypography variant="body1" tag="p">{{
              metric.text
            }}</SlpTypography>
          </div>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.customers-gradient {
  background: url('/nuxt-images/customers/gradient.png');
  margin-bottom: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 64px;
  }
}

.customers-hero {
  padding-top: 115px;
  @media (max-width: $breakpoint-md) {
    padding-top: 64px;
  }
  .header {
    margin-bottom: 86px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }
  .metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 1fr;
    }
    .metric {
      text-align: center;
      @media (max-width: $breakpoint-md) {
        border-top: 1px solid #e3d6ff;
        padding: $spacing-24 0;
        &:last-child {
          border-bottom: 1px solid #e3d6ff;
        }
      }
      @media (min-width: $breakpoint-md) {
        border-left: 1px solid #e3d6ff;
        &:last-child {
          border-right: 1px solid #e3d6ff;
        }
      }
    }
  }
}
</style>
