<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <SlpContainer variant="light-purple-100" class="slp-py-96">
    <SlpRow class="cta-block">
      <SlpCard200
        v-for="card in data.cards"
        :key="card.header"
        class="cta-block__card"
        :link="card.link.url"
        :data-ga-name="card.link.data_ga_name ?? 'learn more'"
        :data-ga-location="card.link?.data_ga_location ?? 'body'"
      >
        <SlpIcon
          size="lg"
          variant="marketing"
          :name="card.icon"
          class="slp-mb-8"
        />
        <SlpTypography variant="heading4" class="slp-mb-24">{{
          card.header
        }}</SlpTypography>
        <SlpButton variant="tertiary" class="cta-button">
          {{ card.link.text }}
          <SlpIcon
            name="chevron-lg-right"
            variant="product"
            alt="Chevron Right Icon"
          />
        </SlpButton>
      </SlpCard200>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.cta-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr;
  }
  gap: 32px;
  &__card {
    display: flex !important;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    .cta-button {
      padding-left: 0;
    }
  }
}
</style>
